*{
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: #0F3040;
    color: #D99B7F;
    background-image: url(i4.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Cursive";
}

body h1{
    position: absolute;
    left: 620px;
    top: 120px;
    z-index: 1000;
    color: #000000;
}

.beta{
    height: 900px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 300px;
    top: -60px;
   
}

.gamma{
    height: 450px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.one{
    height: 120px;
    width: 120px;
    font-family: cursive;
    background-color: #006A67;
    border: none;
    border-radius: 1.2rem;
    box-shadow: 1px 1px 2px rgba(190, 167, 227, 0.5);
    font-size: 2.5rem;
    color: #A56F63;
}

.one:hover{
    background-color: rgba(209,0,86,0.75);
}

.re-btn{
    height:40px;
    width: 120px;
    border: none;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 140px;
    left: 330px;
    background-color: black;
    color: aliceblue;
    box-shadow: 1px 1px 1px rgba(236, 236, 233, 0.25);
}

.sWin{
    height:30px;
    width: 370px;
    color: #000000;
    position: absolute;
    left: 570px;
    top: 150px;
    text-align: center;
    font-size: 1rem;
    font-family: "Sofia";
    z-index: 1000;
}

.hide{
    visibility: hidden;
}
 
.new-btn{
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 140px;
    left: 460px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
